.App-link {
  color: #61dafb;
}


::-webkit-scrollbar {
  width: 0.25rem;
}

::-webkit-scrollbar-track {
  background: #1e1e24;
}

::-webkit-scrollbar-thumb {
  background: #D86969;
}

button{
  cursor: pointer;
}

button:disabled{
  cursor: not-allowed;
}